<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <center>
<body bgcolor="lightgreen">
<h1>Employee Table Data</h1>

<table border="3px" bgcolor="yellow">
    <tr>
        <th>NAME</th>
        <th>PASSWORD</th>
        <th>EMAIL ADDRESS</th>

    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.username}}</td>
        <td>{{i.password}}</td>
        <td>{{i.email_address}}</td>

    </tr>
    {% endfor %}

</table>

</body>
    </center>
</html>